* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  color: #333;
  background: #f4f4f4;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

.container {
  overflow-y: scroll !important;
  overflow-wrap: break-word;
}
.container *:first-child {
  margin-top: 0;
}
.container *:last-child {
  margin-bottom: 0;
}

.text-content a {
  color: red;
}
.text-content ul {
  padding-left: 1.6rem;
}
.text-content ul li {
  margin-bottom: 0.4rem;
}
.text-content p {
  margin: 0.3rem 0;
}
.text-content h1 {
  font-size: 1.3rem;
}
.text-content h2 {
  font-size: 1.2rem;
}
.text-content h3 {
  font-size: 1.1rem;
}

.text-content blockquote {
  background: #e8e8e8;
  font-style: italic;
  padding: 0.5rem 1rem;
  margin: 0;
}

.modal-backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 4;
  padding: 16px;
}

ul {
  list-style: initial;
}

body > header {
  padding: 0 128px;
  margin: 128px auto 64px auto;
  max-width: 2000px;
}
body > main {
  padding: 0 128px;
  margin: 64px auto 480px auto;
  max-width: 2000px;
}
body > footer {
  text-align: center;
  padding: 1.2rem 0;
}

@media (max-width: 70rem) {
  body > main,
  body > header {
    padding: 0 32px;
  }
}

@media (max-width: 30rem) {
  body > main,
  body > header {
    padding: 0 12px;
  }
  .modal-backdrop {
    padding: 8px;
  }
}
